extends layout

block content
  h1= title
  p Welcome to your #{title}
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST' action='/login')
          div.form-group
            label(for='loginid') Login
            input.form-control(type='text' id='loginid' placeholder='loginid' name='loginid')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary(type='submit') Log in 
        form(method='POST' action='/register')
          button.btn.btn-primary(type='submit') Register